* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #111827;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    transition: all ease-in .4s;
}

.sidebar.hide {
    width: 87px;
    transition: all ease-in .4s;
}

.sidebar .description-header {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.sidebar.hide .description-header {
    display: none;
}

.sidebar .description-header a {
    color: #FFF;
    text-decoration: none;
}

.sidebar .header .list-item {
    display: flex;
    flex-direction: row;
    padding: 12px 10px;
    align-items: center;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
}

.sidebar .header .list-item .icon {
    margin-right: 12px;
}

.sidebar .header .illustration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10 px 0 22px 0;
    box-sizing: border-box;
}

.sidebar.hide .illustration {
    display: none;
}

.sidebar .main .list-item {
    display: flex;
    /* width: 212px; */
    padding: 12px 10px;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
}

.sidebar .main .list-item .description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.sidebar.hide .main .list-item .description {
    display: none;
}

.sidebar .main .list-item .icon {
    margin-right: 12px;
}


.sidebar .main .list-item:hover {
    background: #F90;
    transition: ease-in .2s;
}

.main-content {
    background-color: #eee;
    flex-grow: 1;

}

/* Article Sub Menu */

.sidebar .main .list-item .dropdown {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

.fa-caret-down {
    float: right;
    padding-right: 8px;
  }

/* Toogle Menu */

#menu-button {
    width: 32px;
    position: absolute;
    overflow: hidden;
}

#menu-label {
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox {
    display: none;
}

#hamburger, #menu-label::after, #menu-label::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black
}

#menu-label:after, #menu-label:before {
    content: "";
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#menu-label:before {
    top: 0;
}

#menu-label:after {
    top: 8px;
}

#hamburger {
    top: 16px;
}

#hamburger:before {
    content: "MENU";
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    color: #111827;
    font-size: 10px;
    font-weight: bold;
}

#menu-checkbox:checked + #menu-label::before {
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after {
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before {
    animation: moveUpDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}


@keyframes moveUpDown {
    0% {
        top: 0;
    }
    50% {
        top: -27px;
    }
    100% {
        top: -14px;
    }
}

@keyframes shakeUp {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakeDown {
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(0);
    }
}
  